<div class="jumbotron">
    <%= image_tag "profile_pic.jpg", class: "logo_img" %>
    <h1>You Deserve To Be Pampered!</h1>
    <p>Welcome to Mama Sue's Bath Products. We have a wide selection
    of naturally made bath products. Click the link below to glance
    through our products.</p>
    <%= link_to "Bath Products", items_path, class: "btn btn-primary"%>
</div>